@font-face {
    font-family: "Sarabun";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Sarabun/Sarabun-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Sarabun";
    font-style: bold;
    font-weight: 700;
    src: url("./assets/fonts/Sarabun/Sarabun-Bold.ttf") format("truetype");
}