/* Header */
.header_container {
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    background: transparent;
}

.header_main {
    display: grid;
    grid-template-columns: 12% 86%;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: solid #b1b1b1 1px;
    grid-column-gap: 10%;
}

.header_controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 70px;
}

.header_control_child {
    margin: 1em;
    padding-bottom: 4px;
}

.header_control_child:hover {
    border-bottom: solid #4576E2 2px;
}

.header_link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color .3s;
}

/* .header_link:hover {
    text-decoration: underline;
} */

img.header_logo {
    display: block;
    width: 80%;
}

.fixedHeader {
    position: fixed;
    background: white;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgb(21 21 21 / 35%);
    transition: all .3s;
    animation: fadeIn 0.3s linear forwards;
}

.fixedHeader .header_main {
    border-bottom: none;
}

.fixedHeader .header_controls {
    height: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-4px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner_description_area {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* Header */