html * {
    font-family: Sarabun, roboto;
}

.banner_description_area {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    top: 40vh;
}

.banner_description_main {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
}

.banner_heading {
    font-size: 60px;
    font-weight: 600;
    color: #1046D0;
    text-transform: uppercase;
}

.swiper {
    height: 1000px;
}

section:not(:first-child) {
    padding: 4em 0;
}

.about_container {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-evenly;
}

.about_left {
    display: grid;
    grid-template-columns: 99%;
    grid-gap: 1em;
}

.about_left {
    display: grid;
    grid-template-columns: 99%;
    grid-gap: 1em;
}

.description_list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.description_child {
    display: grid;
    grid-template-columns: 4% 89%;
}

.about_right {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.about_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    grid-gap: 2em;
    transition: all 0.4s;

}

.about_card,
.about_card * {
    cursor: pointer;
}

.about_card.active {
    background: #4576E2;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);
}

.about_card:hover {
    background: #4576E2;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);
}

.about_card:hover * {
    color: white;
}

.about_card:hover img {
    filter: brightness(0) invert(1);
}

.about_card.active * {
    color: white;
}

.txt-faded {
    color: #707070;
}

.description_icon {
    display: grid;
    align-items: center;
}

.description_text {
    font-weight: 400;
}

.btnDetail {
    background-color: #4576E2;
    padding: 20px 60px;
}

.fixedHeader {
    position: fixed;
    background: white;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgb(21 21 21 / 35%);
    transition: all .3s;
    animation: fadeIn 0.3s linear forwards;
}

.fixedHeader .header_main {
    border-bottom: none;
}

.fixedHeader .header_controls {
    height: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-4px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner_description_area {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


/* Bo giai phap tro xuong  */
.body {
    font-family: 'Roboto', sans-serif;
}

.BizDX_solutions {
    background: #F3F3F3;
}

.solutions_title h3 {
    font-size: 40px;
    color: #1046D0;
    text-align: center;
    font-weight: bold;
}

.solutions_title_content_container p {
    width: 50%;
    font-size: 16px;
    color: #707070;
    margin: 15px 0;
    text-align: center;
}

.solutions_title_content_container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.solutions_item {
    background: white;
    padding-top: 50px;
    padding-bottom: 30px;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    width: 48%;
    margin: 0 10px 20px 10px;
}

.solutions_item_image {
    text-align: center;
}

.solutions_item_title h4 {
    text-align: center;
    font-size: 24px;
    color: #0C0909;
    margin: 15px 0;
}
.solutions_container_child {
    margin-left: 10px;
}

.solutions_child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}


.solutions_child_title {
    color: #707070;
    margin-left: 6px;
}


.solutions_button_playnow {
    text-align: center;
}

button.solutions_playnow {
    color: #1046D0;
    background: white;
    border: 2px solid #1046D0;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.BizDX_feature_left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.BizDX_feature_right h3 {
    font-size: 40px;
    color: #1046D0;
    font-weight: bold;
    margin: 30px 0;
}

.BizDX_feature_right p {
    font-size: 16px;
    color: #707070;
    margin-bottom: 20px;
}

footer {
    background: #4576E2;
    padding: 50px 0;
    color: white;
}

.footer_logo {
    margin-bottom: 40px;
}

.footer_left h3, .footer_right h3 {
    text-transform: uppercase;
    font-size: 24px;
}

.footer_item h4 {
    font-size: 18px;
    margin-bottom: 26px;
}

.footer_item p {
    font-size: 16px;
    color: #F3F3F3;
    margin-bottom: 5px;
}

.footer_item {
    margin: 30px 0;
}

.Copyright {
    background: #0B35B2;
    color: white;
    font-size: 16px;
    text-align: center;
    height: 64px;
    line-height: 64px;
}

.footer_link{
    color: white;
    text-decoration: none;
}
.footer_link:hover{
    color: white;
    text-decoration: underline;
}

/* active item */
.solutions_item.active {
    background: #4576E2;
}

.solutions_item.active .solutions_item_image img {
    filter: brightness(0) invert(1);
}

.solutions_item.active .solutions_item_title h4 {
    color: white;
}

.solutions_item.active .solutions_child_title {
    color: white;
}

.solutions_item.active .solutions_playnow {
    color: white;
    background: #4576E2;
    border: 2px solid white;
}

.solutions_item:hover {
    background: #4576E2;
    transition: all 0.5s;
    cursor: pointer;
}

.solutions_item:hover .solutions_item_image img {
    filter: brightness(0) invert(1);
    transition: all 0.5s;
}

.solutions_item:hover .solutions_item_title h4 {
    color: white;
    transition: all 0.5s;
}

.solutions_item:hover .solutions_child_title {
    color: white;
    transition: all 0.5s;
}

.solutions_item:hover .solutions_playnow {
    color: white;
    background: #4576E2;
    border: 2px solid white;
    transition: all 0.5s;
}

/* end active item */
/* end bo giai phap tro xuong */


/* Common */

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
}